<h1>Add your Own Card</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <label>What is the name of your card?</label>
    <input type="text" name="name" [(ngModel)]="newCard.name">
    <br>

    <label>What is the CMC of your card?</label>
    <input type="text" name="cmc" [(ngModel)]="newCard.cmc">
    <br>

    <label>What is the value of your card?</label>
    <input type="number" name="price" [(ngModel)]="newCard.price">
    <br>

    <label>What is the rarity of your card?</label>
    <input type="text" name="rarity" [(ngModel)]="newCard.rarity">
    <br>

    <label>Now add some flavortext to the Card</label>
    <input type="text" name="flavorText" [(ngModel)]="newCard.flavorText">
    <br>

    <label>Now finally, add the image URL of the card</label>
    <input type="text" name="image" [(ngModel)]="newCard.imageUrl">
    <br>
    
    <button type="submit">Add Card</button>
