<section class="container">
  <h1>Full List of Products</h1>
  <h4>Click on the Cards for more details</h4>
  <div class="buttons">
  <button (click)="addCard()">Add a Card</button>
  <button [routerLink]="['/search']">Search For a Card</button>
</div>
  <br><br><br>


  <div class="productlist">
    <mat-card *ngFor="let card of cardList" class="card-inner">
      <h3 [routerLink]='["/products", card.id]'>{{ card.name }}</h3>
      <img [src]="card.imageUrl" alt="{{card.name}}" (click)="viewCard(card.id)">
      <p>Price: ${{ card.price }}</p>
      <div class="buttons">
        <button (click)="editCard(card.id)">Edit</button>
        <button (click)="deleteCard(card.id)">Delete</button>
      </div>
    </mat-card>
  </div>

</section>