<section class="about">
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium, nisl sit amet tempor pretium, mi diam
      aliquam sapien, et iaculis justo neque sit amet sem. Nullam in eros gravida, ornare justo sit amet, finibus eros.
      Nunc viverra condimentum dui iaculis pharetra. Integer tempus luctus nisl eget ullamcorper. Donec condimentum,
      nibh ac commodo semper, augue mauris fermentum diam, ut varius dolor elit sit amet felis. Morbi at consequat
      ligula. Pellentesque iaculis a tortor at facilisis. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos. Praesent fermentum ornare est vel aliquet. Quisque eget lectus eget quam
      ullamcorper ullamcorper sed fringilla dolor. Pellentesque semper dui eu orci venenatis, eget fringilla neque
      bibendum. Cras facilisis consectetur urna, in posuere ante viverra eu. Nulla tortor arcu, elementum vel tempor at,
      posuere quis justo. Vestibulum sit amet nulla ac erat hendrerit volutpat dapibus sit amet neque. In fringilla
      aliquam erat porta porttitor.

      Aliquam auctor ut metus at tempor. Etiam posuere nibh porta, sagittis lorem eget, commodo augue. Aliquam cursus
      tortor id enim lacinia congue. Nullam et pellentesque dui. Aliquam in aliquam lorem, ut commodo elit. Nam id
      efficitur nibh. Nulla facilisi. Aliquam erat volutpat. Nunc felis sapien, convallis et dui in, egestas pharetra
      massa. Quisque vulputate interdum augue, at aliquam nulla consectetur sit amet. Duis at rutrum enim, nec malesuada
      dolor. Maecenas tempor felis purus, nec mattis diam porttitor sit amet.

      Donec non risus ut massa lacinia iaculis. In in odio nec justo feugiat scelerisque quis vitae turpis. Etiam tortor
      mauris, faucibus et neque nec, varius fringilla diam. Morbi sit amet nisl pulvinar, rhoncus diam at, accumsan
      risus. Quisque eget leo ac lectus hendrerit feugiat ac a velit. Mauris et dui in purus consectetur porta nec id
      tortor. Sed pretium venenatis risus, at placerat felis laoreet id. Maecenas nec enim libero. Cras sollicitudin,
      risus quis rhoncus vulputate, ante nisi suscipit risus, volutpat lacinia sem ex eleifend erat. Aliquam erat
      volutpat. Suspendisse commodo, odio in laoreet fringilla, felis ante convallis arcu, a imperdiet dolor mi et
      augue. Etiam interdum mattis bibendum. Quisque dapibus eu eros vel accumsan. Sed ut nisl mauris. Aenean luctus
      nisi nisi, ut hendrerit leo congue ac.

      Donec et ultricies leo. Integer tincidunt metus sed mauris sagittis, non pharetra arcu elementum. In malesuada
      ante ut risus congue, non sodales tellus sollicitudin. Nunc non porta est. Nulla finibus diam tellus, non gravida
      libero posuere sit amet. Phasellus quam odio, aliquet non faucibus vel, laoreet non dolor. Quisque vel congue
      urna, sed pulvinar eros. Quisque suscipit leo at dictum molestie. Curabitur sollicitudin bibendum massa et ornare.
    </p>
  </div>
  <div class="cardImage">
    <img
      src="https://images.unsplash.com/photo-1623305465231-d884ce752d59?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNhcmRzfGVufDB8fDB8fHww"
      alt="About Image">
  </div>
</section>