<h1>{{currentCard.name}}</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <label>name</label>
  <input type="text" name="name" [(ngModel)]="currentCard.name">
  <label>cmc</label>
  <input type="text" name="cmc" [(ngModel)]="currentCard.cmc">
  <label>price</label>
  <input type="number" name="price" [(ngModel)]="currentCard.price">
  <label>rarity</label>
  <input type="text" name="rarity" [(ngModel)]="currentCard.rarity">
  <label>flavortext</label>
  <input type="text" name="flavorText" [(ngModel)]="currentCard.flavorText">
  <label>image URL</label>
  <input type="text" name="image" [(ngModel)]="currentCard.imageUrl">
  <button type="submit">Edit Card</button>