<mat-drawer-container class="container">
    <mat-drawer #drawer class="sidenav" mode="side">
        
        <li class="links"><a routerLink="/home" class="link">Home</a></li>
        <li class="links"><a routerLink="/about" class="link">About</a></li>
        <li class="links"><a routerLink="/products" class="link">Products</a></li>
        <li class="links"><a routerLink="/search" class="link">Search</a></li>

    </mat-drawer>


    <mat-toolbar class="toolbar">
        <button mat-icon-button class="menuButton" aria-label="menu" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Haay's Wares</span>
        <span class="spacer"></span>
        <button mat-icon-button class="homeButton" aria-label="home">
            <mat-icon fontIcon="home" routerLink="/home"></mat-icon>
        </button>
    </mat-toolbar>





    <router-outlet></router-outlet>
</mat-drawer-container>